body {
  font-family: "Helvetica Neue", "Roboto", "Verdana", sans-serif;
}

h1 {
  color: blue;
}

.intro-header {
  color: red;
}

.hero {
  color: magenta;
}

#hero {
  color: green;
}

.hero > .btn-dl {
  color: inherit;
}

.hero > .btn-ul {
  color: currentColor;
}

header > .logo {
  color: black;
  font-family: "Eater", serif;
  font-size: 18px;
  font-weight: bold; /* normal — 400, bold — 700 */
  font-style: italic; /* normal | italic | oblique | initial | inherit */
}
